:root {
    --dark: #374151;
    --darker: #1F2937;
    --darkest: #111827;
    --gray: #6B7280;
    --light: #EEE;
    --pink: #EC4899;
    --purple: #8B5Cf6;
}

* {
    margin: 0;
    border-left: 100px;
    font-family: 'Fira Sans', sans-serif;
}

body {
    background: var(--dark);
    margin-left: 100px;
    margin-right: 100px;
}

/* Search Menu */
#top_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#top_links {
    width: 400px;
    display: flex;
    justify-content: space-between;
}

#top_links a {
    text-decoration: none;
    color: var(--light);
    font-size: 20px;
}

#search_and_login {
    width: 300px;
    background: #fff;
    border-radius: 5px;
}

.row {
    display: flex;
    align-items: center;
    padding: 1px 10px;
}

input {
    flex: 1;
    height: 35px;
    background: transparent;
    border: 0;
    outline: 0;
    font-size: 16px;
    color: #333;
}

button {
    background: transparent;
    border: 0;
    outline: 0;
}

button .fa-solid {
    width: 25px;
    color: #555;
    font-size: 18px;
    cursor: pointer;
}

::placeholder {
    color: #555;
}

.result_box ul {
    border-top: 1px solid #999;
    padding: 10px 10px;
}

.result_box ul li {
    list-style: none;
    border-radius: 3px;
    padding: 7px 5px;
    cursor: pointer;
}

.result_box ul li:hover {
    background: #e9f3ff;
}

.result_box {
    max-height: 200px;
    overflow-y: scroll;
}

/* Top title and photo*/

#top_body {
    margin: 100px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

#Top_text h1 {
    color: var(--light);
    font-size: 84px;
}

#Top_text h1 span {
    color: var(--pink);
}

#on_top_text {
    font-size: 18px;
    color: var(--light);
    background-color: var(--purple, );
    background-blend-mode: darken;
    padding: 7px;
    border-radius: 7px;
    width: 37%;
}

#bottom_main_text {
    margin-top: 20px;
    font-size: 18px;
    color: var(--light);
}

#get_started {
    gap: 50px;
    margin-top: 40px;
}

#get_started a {
    text-decoration: none;
}

#get_started_menu {
    color: var(--light);
    background-color: var(--pink);
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 50px;
    background-size: 220px;

}

#Watch_video_menu {
    color: var(--light);
    margin-left: 7%;
}

#Watch_video_menu span {
    padding: 10px;
}

/* Second row *variety in food and spices* */

#second_part_mainpage {
    margin: 100px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    gap: 100px;
}

#second_text h2 {
    color: var(--light);
    font-size: 47px;
}

#second_text p {
    color: var(--light);
    margin-top: 7%;
    font-size: 18px;
}

/* Third row */

#third_part_mainpage{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

#third_title{
    margin-top: 200px;
    color: var(--light);
    font-size: 47px;
    display: flex;
    justify-content: center;
}

.third_image_one p{
color: var(--light);
font-size: 18px;
margin-top: 20px;
margin-bottom: 100px;
}